/* src/components/ProductList/ProductList.module.css */
.cardapioSection {
  padding: 60px 20px;
  background-color: #f9f9f9; /* Cor de fundo branca/cinza claro */
  text-align: center;
  width: 100%; 
  box-sizing: border-box;
}

.cardapioSection h2 {
  font-size: 2.5em;
  color: var(--cor-texto-principal);
  margin-bottom: 40px;
}

.listaDeProdutos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; /* Garante que padding não aumente a largura total */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .listaDeProdutos {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .cardapioSection h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .listaDeProdutos {
    gap: 20px;
    padding: 10px;
  }
}
