/* src/pages/CategoryPage.module.css */
.categoryPageContainer {
  font-family: "Poppins", sans-serif;
  color: var(--cor-texto-principal);
  background-color: var(--cor-base);
  padding: 30px 20px;
  min-height: calc(100vh - 60px - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryPageContainer h1 {
  color: var(--cor-acento-1);
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid var(--cor-acento-2);
  padding-bottom: 10px;
  width: 80%;
}

.voltarButton {
  background-color: var(--cor-fundo-secundario);
  color: var(--cor-texto-principal);
  border: 1px solid var(--cor-texto-principal);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.voltarButton:hover {
  background-color: var(--cor-fundo-secundario-hover);
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 20px;
  width: 90%;
}

@media (min-width: 960px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 600px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
