/* src/components/ProductCard/ProductCard.module.css */
.produtoCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.produtoImagem {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Proporção para evitar distorção */
  object-fit: cover;
}

.produtoTitulo {
  padding: 10px;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

.produtoDescricao {
  padding: 0 10px 10px;
  color: #666;
  font-size: 0.9em;
  text-align: center;
}

.produtoPrecoArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #eee;
}

.produtoPreco {
  font-size: 1.1em;
  color: #5cb85c;
  font-weight: bold;
}

.adicionarAoCarrinho {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9em;
}

.adicionarAoCarrinho:hover {
  background-color: #0056b3;
}
