/* src/pages/HomePage.module.css */
.container {
  font-family: "Poppins", sans-serif;
  color: var(--cor-texto-principal); /* Azul Marinho suave */
  background-color: var(--cor-base); /* Azul Celeste pálido */
  padding: 20px;
}

.header {
  background-color: var(--cor-base); /* Azul Celeste pálido */
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee; /* Mantenha a borda se desejar */
}

.title {
  font-size: 2.5em;
  margin-bottom: 5px;
  color: var(--cor-acento-1); /* Rosa Névoa suave para destaque */
}

.subtitle {
  font-size: 1.1em;
  color: #777; /* Mantive este tom de cinza, mas podemos usar um tom mais claro de --cor-texto-principal se preferir */
}

.phoneIcon {
  font-size: 1.2em;
}

.socialLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialLink {
  color: var(--cor-texto-principal); /* Azul Marinho suave */
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

.socialLink:hover {
  color: var(--cor-acento-1); /* Rosa Névoa suave para o hover */
}

.socialIcon {
  font-size: 1.5em;
}

/* Responsividade para a lista de produtos */
@media (max-width: 600px) {
  .listaDeProdutos {
    grid-template-columns: 1fr;
  }
}

/* Responsividade para a Hero Section */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroLeftColumn {
    padding-right: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .heroRightColumn {
    margin-top: 20px;
  }

  .heroButtons {
    flex-direction: column;
    align-items: stretch;
  }

  .socialLinks {
    justify-content: center;
  }
}
