/* src/components/Footer/Footer.module.css */
.footer {
  background-color: var(--cor-base);
  color: var(--cor-texto-principal-mais-claro);
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid #eee;
}

.footer p {
  margin: 0;
}

@media (max-width: 480px) {
  .footer {
    padding: 15px;
    font-size: 0.8em;
  }
}
