:root {
  --cor-base: #87ceeb; /* Azul Celeste pálido */
  --cor-acento-1: #dda0dd; /* Rosa Névoa suave */
  --cor-acento-2: #c8a2c8; /* Lilás claro */
  --cor-acento-3: #fffac8; /* Amarelo Limão pálido */
  --cor-texto-principal: #191970; /* Azul Marinho suave */

  /* Outras variáveis que podemos adicionar depois, por exemplo: */
  --espacamento-pequeno: 8px;
  --espacamento-medio: 16px;
  --espacamento-grande: 24px;
  --fonte-padrao: sans-serif;
  --fonte-destaque: serif;
  --breakpoint-mobile: 768px;
}
