/* src/vars.module.css */
:root {
  --cor-base: #ffffff; /* Branco */
  --cor-texto-principal: #1a237e; /* Azul Marinho suave */
  --cor-texto-principal-mais-claro: #3f51b5; /* Um tom mais claro do Azul Marinho */
  --cor-acento-1: #f48fb1; /* Rosa Névoa (mantido como acento) */
  --cor-acento-2: #b39ddb; /* Lilás claro */
  --cor-acento-3: #f0f4c3; /* Amarelo Limão pálido */

  /* Outras variáveis que podemos adicionar depois, por exemplo: */
  --espacamento-pequeno: 8px;
  --espacamento-medio: 16px;
  --espacamento-grande: 24px;
  --fonte-padrao: sans-serif;
  --fonte-destaque: serif;
  --breakpoint-mobile: 768px;
}
img {
  max-width: 100%;
  height: auto; /* Para manter a proporção da imagem */
  display: block; /* Para remover espaçamentos extras abaixo da imagem */
}
